.header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;

  & a:hover {
    color: #a2a2a2;
  }

  & button {
    all: unset;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      color: #a2a2a2;
    }
  }
}
