* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  min-height: 100vh;
  margin: 0rem auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  background: none;
}
